<form>
  <label>Name:</label>
  {{input type='text' value=newSoda.name}}
  <label>Flavor:</label>
  {{#x-select action="setFlavor" value=value as |xs|}}
  {{#xs.option value=null}}Please Choose Flavor{{/xs.option}}
    {{#each flavors as |flavor|}}
      {{#xs.option value=flavor}}{{flavor.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
</form>