<h2>emberx-select</h2>
<form>
  {{#each flavor as |flav|}}
    {{flavor.name}}
  {{/each}}
  <label>Name:</label>
  {{input type='text' value=soda.name}}
  <label>Flavor:</label>
  <p>emberX select code goes here</p>
</form>
