<h1>Demo App "Soda Form": selecting a select</h1>
<nav class='cl-effect-7' id='cl-effect-7'>
  {{link-to 'Native HTML5 Select' 'html-native'}} | {{link-to 'Emberx-Select' 'emberx-select'}} | {{link-to 'Ember-power-select' 'power-select'}}
</nav>
<section id='soda-form'>
  {{outlet}}
</section>
