
<h1>Demo App "Soda Form": selecting a select</h1>
<hr>
{{link-to 'Native HTML5 Select' 'demo.html-native'}} | {{link-to 'Emberx-Select' 'demo.emberx-select'}} | {{link-to 'Ember-power-select' 'demo.power-select'}}
{{outlet}}
